<!-- search bar -->
{{>header}}
<div class="container search-bar">
  <div class="search-bar-outer d-flex  justify-content-between">
    <div class="search-bar-inner col-5">
      <form action="/lists/search" method="post">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" value="{{keyword}}"
            aria-label="Restaurant Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="search-bar-inner col-5">
      <h4 class="mb-2">餐廳排序：</h4>
      <select class="form-select" aria-label="Default select example">
        <option selected>種類</option>
        <option value="1">A -> Z</option>
        <option value="2">Z -> A</option>
        <option value="3">類別</option>
        <option value="4">地區</option>
      </select>

    </div>


  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      {{> message}}
      <div class="row row-cols-sm-3">
        {{#each lists}}
        <div class="mb-3">
          <div class="card">
            <a href="/lists/{{this.id}}" class="text-secondary">
              <div class=" mb-2">
                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{this.name}}</h6>

                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i> {{this.category}}
                  </div>

                  <span class="badge rounded-pill bg-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>

                  </span>

                </div>
              </div>
            </a>
            <div class="d-flex justify-content-end card-footer bg-transparent ">
              <a href="/lists/{{this.id}}/edit">
                <button type="button" class="btn btn-brown me-2">edit</button>
              </a>

              <a href="/lists/{{this.id}}">
                <button type="button" class="btn btn-brown me-2">detail</button>
              </a>

              <form action="/lists/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">delete</button>
              </form>


            </div>

          </div>

        </div>
        {{/each}}
      </div>

      {{#if page}}
      <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <form action="/lists">
              <input type="hidden" name="page" value="{{prev}}">
              <button type="submit" class="page-link">&laquo;</button>
            </form>
          </li>
          <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
          <li class="page-item">
            <form action="/lists">
              <input type="hidden" name="page" value="{{next}}">
              <button type="submit" class="page-link">&raquo;</button>
            </form>
          </li>

          </li>
        </ul>
      </nav>

      {{/if}}



    </div>
  </div>
</div>